<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About - Movie Website</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <style>
    /* Add custom styles here */
  </style>
</head>
<body>

<!-- Navigation -->
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/about/">About Us</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="/contact/">Contact </a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="/User Account/">user account </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/Movie Details/">movie details </a>
    </li>
  </ul>
  </div>

<!-- Page Content -->
<div class="container mt-5">
  <h1 class="text-center">About Us</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin convallis dolor ac mauris tincidunt, a hendrerit quam interdum. Sed sed risus in libero feugiat hendrerit. Cras semper posuere felis, nec feugiat sapien finibus vel. Donec ut vehicula purus, eget molestie eros. Duis eu felis euismod, iaculis risus eget, molestie justo. Integer tincidunt odio eu libero blandit, id bibendum ipsum fermentum. Proin vel posuere est. Nunc vulputate ipsum vel purus laoreet, eget fermentum justo efficitur. Nullam nec erat at eros fermentum malesuada vel vel nunc.</p>
  <p>Nulla tempor urna velit, eget malesuada leo placerat ac. Phasellus ornare aliquet lacus, nec egestas leo sollicitudin nec. In nec dictum dui. Nulla ut velit eget neque consectetur faucibus vitae a turpis. Donec sit amet urna in sem rutrum auctor. Morbi auctor, purus nec blandit vestibulum, velit libero feugiat urna, eu malesuada elit mauris sit amet turpis. Nulla facilisi. Praesent eu consequat purus. Suspendisse potenti.</p>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
